.switchWithText{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.5em;
    margin: 0 10px;
}

.switch {
    height: 30px;
    width: 55px;
    border-radius: 20px;
    background-color: rgb(136, 136, 136);
    margin: 0 10px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.movingPart {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    margin: 0 3px;
}

.oldFirst {
    justify-content: flex-end;
}