* {
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.App {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Heading {
 font-size: 4em;
 font-weight: bold;
 padding: 30px;
}

.Content {
  width: 100%;
}

.footer {
  float: bottom;
}